*.iml
.gradle
/local.properties
local.properties
/.idea
.idea/
.DS_Store
/build
build/
app/build/
/captures
.externalNativeBuild
.cxx

# Release signing & credentials
*.keystore
*.jks
keystore.properties

# Scratch & Temporary
scratch/
scratch
shared image.jpeg
*.apk
*.aab

